.form-group{
    display: flex;
    flex-direction: column;
   
}


.input {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 5px;
  
}

.input.error{
    border: 2px solid red;
}

.error-text{
    display: block;
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 4px;
}

